<!DOCTYPE html>
<html>

   <head>
      <title>Welcome to API: Request Header Parser Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container center">
        
        <header>
         <h1>API: Request Header Parser Microservice</h1>
        </header>

        <main>
          <p class="bold">User stories:</p>
          <ul>
            <li> I can get the IP address, language and operating system for my browser.</li>
          </ul>
          <p class="bold">Example usage:</p>
          <url>https://whoami-hr.glitch.me/api<br></url>
          <p class="bold">Example output:</p>
          <url>{"ipaddress":"193.137.7.77","language":"en-US","software":"Windows NT 10.0; Win64; x64"}</url>

        </main>

        <footer>
          <a href="https://github.com/hrego/">
            Coded by hr
          </a>
        </footer>
        
      </div>
   </body>

</html>
